.paddingTop0{padding-top: 0px!important;}

.marginT10{margin-top: 10px!important;}
.marginT15{margin-top: 15px!important;}
.marginT20{margin-top: 20px!important;}

.text-center{text-align: center!important;}
