/*Media divice*/
@media (min-width: 1200px){
   
}

@media (min-width: 992px) and (max-width: 1200px) {

}   

@media (min-width: 768px) and (max-width: 992px) {
    
}

@media (max-width: 768px) {
    .bg-top {
        height: auto;
    }
    .slogan{
        display: none;
    }
    .logo {
        background:url("../img/logo-mobile.png") no-repeat scroll 0 0;
        height: 42px;
        width: 50px;
    }
	.language {
	    position: relative;
	    left: -125px;
	    top: 8px;
	}
    #nav-header .navbar{
        min-height: 0;
    }
    .navbar-toggle {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-top: -56px;
    }
    .navbar-default .navbar-toggle {
        border-color: #ad8d3d;
    }
    .navbar-default .navbar-toggle:hover {
        background: none;
    }
    .search {
        display: none;
    }
    .header-midd{
        min-height: auto;
    }
    .menu .navbar-default .navbar-nav > li > a {
        padding: 8px 15px;
    }
    .navbar-collapse{
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-nav ul,
    .nav.navbar-nav li:hover{
        background: #997850;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form{
        border-color: none;
    }
    .bg-top .hotline {
        text-align: left;
    }
    .navbar-nav {
        margin: 0 -15px 7.5px;
    }
    #main {
        padding-top: 3px;
    }
    .sub-post {
        margin-top: 10px !important;
    }
    .title-post-other,
    .desc-post-other,
    .sub-post img{
        height: auto;
    }
    .write-by {
        bottom: auto;
        float: left !important;
        position: relative;
        top: auto;
        width: 100%;
        margin-top: 10px;
    }
    .write-thanks {
        bottom: auto;
        float: left;
        position: relative;
        right: auto;
    }
    .list-link-category-img .item {
        height: auto;
    }
    .list-link-category-img img {
        height: auto;
    }
    .hot-post .block-post-big img{
        height: auto;
    }
    .category .thumb{
        height: auto;
        margin-right: 0;
    }
    .category .thumb img{
        width: 100%;
    }
    .category .title-category {
        background: #99e021 url("../img/bg-cate-mobile.png") no-repeat scroll center top;
    }
    .section.corner-post{
        display: none;
    }
    #link-lange{
        color: #fff!important;
    }
    .section.cv-post img{
        width: 100%;
    }
    .line-content-view{
        padding-bottom: 10px;
    }
    .line-video-view.video iframe{
        width: 100%;
        height: auto;
    }
    .same-vieo-list .post-img {
        height: auto;
        overflow: visible;
    }
    .same-vieo-list .post-img img{
        height: auto;
    }
    .category {
        height: auto;
        overflow: visible;
    }
    .list-link-category-img {
        height: auto;
        overflow: visible;
    }
    .list-link-category-img .post-title {
        height: auto;
    }
    .post-lead {
        height: auto;
    }
    .list-post .item-post img {
        margin-right: 0;
        width: 100%;
    }
    .list-post .title-list-item {
        clear: both;
        display: inline-block;
        margin-bottom: 5px;
        margin-top: 5px;
        width: 100%;
    }
    .main-view.contact{
        padding: 0 10px;
    }
	.bg-top .mobile {
	    text-align: left;
	}
	.main-content-view .item-library,
	.main-content-view .item-ads-partner{
		height:auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	.item-library .thumbL,
	.item-library .titleL{
		height:auto;
	}
	.item-library-detail {
	    height: auto;
	    margin-bottom: 15px;
	}
	.item-library-detail .thumbLDetail{
		height: auto;
	}
}