.header{
  .uk-container{
    max-width: calc(#{$width-container} + 30px);
  }
  &__offcanvas{
    &__boxLang{
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      margin-top: 10px;
      padding-top: 6px;
    }
    &__user{
      margin-bottom: 16px;
      padding-left: 25px;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 8C9.1875 8 11 6.21875 11 4C11 1.8125 9.1875 0 7 0C4.78125 0 3 1.8125 3 4C3 6.21875 4.78125 8 7 8ZM9.78125 9H9.25C8.5625 9.34375 7.8125 9.5 7 9.5C6.1875 9.5 5.40625 9.34375 4.71875 9H4.1875C1.875 9 0 10.9062 0 13.2188V14.5C0 15.3438 0.65625 16 1.5 16H12.5C13.3125 16 14 15.3438 14 14.5V13.2188C14 10.9062 12.0938 9 9.78125 9Z' fill='%234D9D6E'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center left;
      span{
        color: #212121;
        @extend .fz-18;
        line-height: (27/18);
        font-family: $font-Mulish-Bold;
      }
    }
    &__nav{
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding-top: 13px;
      &__arrow{
        cursor: pointer;
        position: absolute;
        top: 0;
        right: -11px;
        display: inline-block;
        width: 31px;
        height: 31px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.03516 7.19531C6.28125 7.44141 6.69141 7.44141 6.9375 7.19531L12.2695 1.89062C12.5156 1.61719 12.5156 1.20703 12.2695 0.960938L11.6406 0.332031C11.3945 0.0859375 10.9844 0.0859375 10.7109 0.332031L6.5 4.54297L2.26172 0.332031C1.98828 0.0859375 1.57812 0.0859375 1.33203 0.332031L0.703125 0.960938C0.457031 1.20703 0.457031 1.61719 0.703125 1.89062L6.03516 7.19531Z' fill='%23212121'/%3E%3C/svg%3E%0A");
        .uk-open> &{
          background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.9375 0.332031C6.69141 0.0859375 6.28125 0.0859375 6.03516 0.332031L0.703125 5.63672C0.457031 5.91016 0.457031 6.32031 0.703125 6.56641L1.33203 7.19531C1.57812 7.44141 1.98828 7.44141 2.26172 7.19531L6.5 2.98438L10.7109 7.19531C10.9844 7.44141 11.3945 7.44141 11.6406 7.19531L12.2695 6.56641C12.5156 6.32031 12.5156 5.91016 12.2695 5.63672L6.9375 0.332031Z' fill='%23212121'/%3E%3C/svg%3E%0A");
        }
      }
      >li{
        >a{
          @extend .footer__dc1;
          color: #212121 !important;
        }
        &.uk-active{
          >a{
            color: #52B4F3 !important;
          }
        }
        &:nth-child(n+2){
          margin-top: 8px;
        }
        &.uk-parent{
          position: relative;
          >a{
            &:after{
              opacity: 0;
              background-repeat: no-repeat;
              background-position: center;
              background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.03516 7.19531C6.28125 7.44141 6.69141 7.44141 6.9375 7.19531L12.2695 1.89062C12.5156 1.61719 12.5156 1.20703 12.2695 0.960938L11.6406 0.332031C11.3945 0.0859375 10.9844 0.0859375 10.7109 0.332031L6.5 4.54297L2.26172 0.332031C1.98828 0.0859375 1.57812 0.0859375 1.33203 0.332031L0.703125 0.960938C0.457031 1.20703 0.457031 1.61719 0.703125 1.89062L6.03516 7.19531Z' fill='%23212121'/%3E%3C/svg%3E%0A") !important;
            }
          }
          &.uk-open{
            >a{
              &:after{
                opacity: 0;
                background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.9375 0.332031C6.69141 0.0859375 6.28125 0.0859375 6.03516 0.332031L0.703125 5.63672C0.457031 5.91016 0.457031 6.32031 0.703125 6.56641L1.33203 7.19531C1.57812 7.44141 1.98828 7.44141 2.26172 7.19531L6.5 2.98438L10.7109 7.19531C10.9844 7.44141 11.3945 7.44141 11.6406 7.19531L12.2695 6.56641C12.5156 6.32031 12.5156 5.91016 12.2695 5.63672L6.9375 0.332031Z' fill='%23212121'/%3E%3C/svg%3E%0A") !important;
              }
            }
          }
        }
      }
      .uk-nav-sub{
        a{
          @extend .footer__dc1;
          color: #212121 !important;
        }
        >li{
          &:nth-child(n+2){
            margin-top: 6px;
          }
          >a{

          }
          &.uk-active{
            >a{

            }
          }
        }
      }
      a{
        &:hover{
          color: #52B4F3 !important;
        }
      }
    }
  }
  &__dropdown{
    //margin: 0;
    padding: 0;
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    .uk-nav{
      >li{
        &:nth-child(n+2){
          >a{
            &:before{
              content: "";
              position: absolute;
              left: 15px;
              right: 15px;
              top: 0;
              height: 1px;
              display: inline-block;
              background: rgba(0, 0, 0, 0.1);
            }
          }
        }
        >a{
          position: relative;
          padding: 10px 15px;
          @extend .fz-16;
          font-family: $font-Mulish-Regular;
          color: #212121;
          &:hover{
            color: #52B4F3;
            background: rgba(82, 180, 243, 0.1);
            font-family: $font-Mulish-Bold;
          }
        }
      }
    }
  }
  &__top{
    background: #7BB98D;
    &__language{
      padding: 6px 0;
      padding-left: 20px;
      padding-right: 20px;
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 0.96875C3.75391 0.96875 0.71875 4.03125 0.71875 7.75C0.71875 11.4961 3.75391 14.5312 7.5 14.5312C11.2188 14.5312 14.2812 11.4961 14.2812 7.75C14.2812 4.03125 11.2188 0.96875 7.5 0.96875ZM7.17188 7.55859C7.08984 7.69531 6.95312 7.75 6.78906 7.75C6.67969 7.75 6.57031 7.80469 6.48828 7.88672L6.32422 8.05078C6.24219 8.13281 6.24219 8.26953 6.32422 8.35156L6.48828 8.51562C6.57031 8.59766 6.625 8.70703 6.625 8.81641V9.0625C6.625 9.30859 6.40625 9.5 6.1875 9.5H5.99609C5.83203 9.5 5.69531 9.41797 5.61328 9.28125L4.98438 8.02344C4.92969 7.91406 4.76562 7.85938 4.65625 7.96875L4.10938 8.51562C4.02734 8.59766 3.91797 8.625 3.80859 8.625H2.08594C2.05859 8.35156 2.03125 8.05078 2.03125 7.75C2.03125 4.74219 4.46484 2.28125 7.5 2.28125C8.07422 2.28125 8.64844 2.39062 9.16797 2.55469L7.80078 3.62109C7.66406 3.70312 7.66406 3.92188 7.82812 4.00391L8.12891 4.14062C8.26562 4.22266 8.375 4.35938 8.375 4.52344V6.65625C8.375 6.79297 8.26562 6.875 8.15625 6.875H8.04688C7.96484 6.875 7.91016 6.84766 7.85547 6.76562C7.82812 6.68359 7.69141 6.68359 7.66406 6.76562L7.17188 7.55859ZM11.875 10.5664C11.875 10.6758 11.8203 10.7852 11.7383 10.8672L11.4648 11.1406C11.3828 11.2227 11.2734 11.25 11.1641 11.25H10.7539C10.6445 11.25 10.5078 11.2227 10.4258 11.1406L10.0703 10.7852C9.96094 10.6484 9.76953 10.5664 9.57812 10.5664C9.49609 10.5664 9.44141 10.5664 9.38672 10.5938L8.8125 10.7305C8.75781 10.7305 8.73047 10.7578 8.70312 10.7578H8.42969C8.29297 10.7578 8.18359 10.7031 8.10156 10.6211L7.77344 10.293C7.74609 10.2656 7.71875 10.2109 7.71875 10.1289V9.85547C7.71875 9.77344 7.77344 9.69141 7.85547 9.66406L8.92188 9.22656C8.97656 9.19922 9.03125 9.17188 9.08594 9.14453L9.74219 8.67969C9.76953 8.65234 9.82422 8.65234 9.85156 8.65234H10.1797C10.2891 8.65234 10.3711 8.67969 10.3984 8.76172L10.5352 9.11719C10.5625 9.17188 10.5898 9.19922 10.6445 9.19922H10.7539C10.7812 9.19922 10.8359 9.17188 10.8359 9.11719L10.9727 8.70703C10.9727 8.67969 11.0273 8.65234 11.0547 8.65234H11.2461C11.3008 8.65234 11.3555 8.67969 11.3555 8.76172V9.08984C11.3555 9.17188 11.3555 9.22656 11.4102 9.25391L11.7383 9.58203C11.8203 9.66406 11.8477 9.77344 11.8477 9.88281V10.5664H11.875Z' fill='white'/%3E%3C/svg%3E%0A");
      background-position: center left;
      background-repeat: no-repeat;
      position: relative;
      display: inline-block;
      .header__offcanvas__boxLang &{
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 0.96875C3.75391 0.96875 0.71875 4.03125 0.71875 7.75C0.71875 11.4961 3.75391 14.5312 7.5 14.5312C11.2188 14.5312 14.2812 11.4961 14.2812 7.75C14.2812 4.03125 11.2188 0.96875 7.5 0.96875ZM7.17188 7.55859C7.08984 7.69531 6.95312 7.75 6.78906 7.75C6.67969 7.75 6.57031 7.80469 6.48828 7.88672L6.32422 8.05078C6.24219 8.13281 6.24219 8.26953 6.32422 8.35156L6.48828 8.51562C6.57031 8.59766 6.625 8.70703 6.625 8.81641V9.0625C6.625 9.30859 6.40625 9.5 6.1875 9.5H5.99609C5.83203 9.5 5.69531 9.41797 5.61328 9.28125L4.98438 8.02344C4.92969 7.91406 4.76562 7.85938 4.65625 7.96875L4.10938 8.51562C4.02734 8.59766 3.91797 8.625 3.80859 8.625H2.08594C2.05859 8.35156 2.03125 8.05078 2.03125 7.75C2.03125 4.74219 4.46484 2.28125 7.5 2.28125C8.07422 2.28125 8.64844 2.39062 9.16797 2.55469L7.80078 3.62109C7.66406 3.70312 7.66406 3.92188 7.82812 4.00391L8.12891 4.14062C8.26562 4.22266 8.375 4.35938 8.375 4.52344V6.65625C8.375 6.79297 8.26562 6.875 8.15625 6.875H8.04688C7.96484 6.875 7.91016 6.84766 7.85547 6.76562C7.82812 6.68359 7.69141 6.68359 7.66406 6.76562L7.17188 7.55859ZM11.875 10.5664C11.875 10.6758 11.8203 10.7852 11.7383 10.8672L11.4648 11.1406C11.3828 11.2227 11.2734 11.25 11.1641 11.25H10.7539C10.6445 11.25 10.5078 11.2227 10.4258 11.1406L10.0703 10.7852C9.96094 10.6484 9.76953 10.5664 9.57812 10.5664C9.49609 10.5664 9.44141 10.5664 9.38672 10.5938L8.8125 10.7305C8.75781 10.7305 8.73047 10.7578 8.70312 10.7578H8.42969C8.29297 10.7578 8.18359 10.7031 8.10156 10.6211L7.77344 10.293C7.74609 10.2656 7.71875 10.2109 7.71875 10.1289V9.85547C7.71875 9.77344 7.77344 9.69141 7.85547 9.66406L8.92188 9.22656C8.97656 9.19922 9.03125 9.17188 9.08594 9.14453L9.74219 8.67969C9.76953 8.65234 9.82422 8.65234 9.85156 8.65234H10.1797C10.2891 8.65234 10.3711 8.67969 10.3984 8.76172L10.5352 9.11719C10.5625 9.17188 10.5898 9.19922 10.6445 9.19922H10.7539C10.7812 9.19922 10.8359 9.17188 10.8359 9.11719L10.9727 8.70703C10.9727 8.67969 11.0273 8.65234 11.0547 8.65234H11.2461C11.3008 8.65234 11.3555 8.67969 11.3555 8.76172V9.08984C11.3555 9.17188 11.3555 9.22656 11.4102 9.25391L11.7383 9.58203C11.8203 9.66406 11.8477 9.77344 11.8477 9.88281V10.5664H11.875Z' fill='%23212121'/%3E%3C/svg%3E%0A");
      }
      &:after{
        content: "";
        width: 15px;
        position: absolute;
        top: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.03516 7.19531C6.28125 7.44141 6.69141 7.44141 6.9375 7.19531L12.2695 1.89062C12.5156 1.61719 12.5156 1.20703 12.2695 0.960938L11.6406 0.332031C11.3945 0.0859375 10.9844 0.0859375 10.7109 0.332031L6.5 4.54297L2.26172 0.332031C1.98828 0.0859375 1.57812 0.0859375 1.33203 0.332031L0.703125 0.960938C0.457031 1.20703 0.457031 1.61719 0.703125 1.89062L6.03516 7.19531Z' fill='white'/%3E%3C/svg%3E%0A");
        display: inline-block;
        right: 0;
        .header__offcanvas__boxLang &{
          background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.03516 7.19531C6.28125 7.44141 6.69141 7.44141 6.9375 7.19531L12.2695 1.89062C12.5156 1.61719 12.5156 1.20703 12.2695 0.960938L11.6406 0.332031C11.3945 0.0859375 10.9844 0.0859375 10.7109 0.332031L6.5 4.54297L2.26172 0.332031C1.98828 0.0859375 1.57812 0.0859375 1.33203 0.332031L0.703125 0.960938C0.457031 1.20703 0.457031 1.61719 0.703125 1.89062L6.03516 7.19531Z' fill='%23212121'/%3E%3C/svg%3E%0A");
        }
      }
      >span{
        @extend .footer__dc1;
        color: #FFFFFF;
        .header__offcanvas__boxLang &{
          color: #212121 !important;
        }
      }
    }
    &__navitem{
      min-height: 45px;
    }
    .uk-navbar-item{
      @extend .header__top__navitem;
    }
    .uk-navbar-nav{
      >li{
        >a{
          @extend .header__top__navitem;
          text-transform: inherit;
          color: #FFFFFF;
          @extend .footer__dc1;
          &[aria-expanded]{

          }
          &[aria-expanded],
          &[aria-expanded="false"]{
            background-repeat: no-repeat;
            background-position: center right 12px;
            padding-right: 30px;
            background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.03516 7.19531C6.28125 7.44141 6.69141 7.44141 6.9375 7.19531L12.2695 1.89062C12.5156 1.61719 12.5156 1.20703 12.2695 0.960938L11.6406 0.332031C11.3945 0.0859375 10.9844 0.0859375 10.7109 0.332031L6.5 4.54297L2.26172 0.332031C1.98828 0.0859375 1.57812 0.0859375 1.33203 0.332031L0.703125 0.960938C0.457031 1.20703 0.457031 1.61719 0.703125 1.89062L6.03516 7.19531Z' fill='white'/%3E%3C/svg%3E%0A");
          }
          &[aria-expanded="true"]{

          }
        }
      }
    }
  }
  &__bottom{
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    .uk-navbar-item{
      padding: 0 10px;
      @include media-breakpoint-up('xs'){
        padding: 0 15px;
      }
    }
    &__navitem{
      min-height: 56px;
      @include media-breakpoint-up('m'){
        min-height: 76px;
      }
    }
    &__search{
      $x:44px;
      max-width: 410px;
      width: 100%;
      @include media-breakpoint-up('l'){
        min-width: 410px;
      }
      &__input{
        padding-left: 16px;
        padding-right: calc(#{$x} + 16px);
        height: #{$x};
        background-color: #fff;
        border-color: #EEEEEE !important;
        display: block !important;
        color: #212121 !important;
        &::placeholder{
          color: #888888 !important;
        }
      }
      &__btn{
        width: #{$x};
        height: 100%;
        padding: 0;
        border-radius: 50%;
        background-color: #52B4F3 !important;
        border: 1px solid #EEEEEE;
        &:hover{
          border-color: #52B4F3;
        }
        box-sizing: border-box;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7812 13.8438L12.6562 10.7188C12.5 10.5938 12.3125 10.5 12.125 10.5H11.625C12.4688 9.40625 13 8.03125 13 6.5C13 2.9375 10.0625 0 6.5 0C2.90625 0 0 2.9375 0 6.5C0 10.0938 2.90625 13 6.5 13C8 13 9.375 12.5 10.5 11.625V12.1562C10.5 12.3438 10.5625 12.5312 10.7188 12.6875L13.8125 15.7812C14.125 16.0938 14.5938 16.0938 14.875 15.7812L15.75 14.9062C16.0625 14.625 16.0625 14.1562 15.7812 13.8438ZM6.5 10.5C4.28125 10.5 2.5 8.71875 2.5 6.5C2.5 4.3125 4.28125 2.5 6.5 2.5C8.6875 2.5 10.5 4.3125 10.5 6.5C10.5 8.71875 8.6875 10.5 6.5 10.5Z' fill='white'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    &__close{
      &--text{
        &:before{
          content: "Đóng";
          color: #52B4F3;
          @extend .fz-16;
          font-family: $font-Mulish-Bold;
          line-height: (24/16);
          position: absolute;
          right: calc(100% + 5px);
          top: 50%;
          transform: translateY(-50%);
        }
      }
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0.25C3.71875 0.25 0.25 3.71875 0.25 8C0.25 12.2812 3.71875 15.75 8 15.75C12.2812 15.75 15.75 12.2812 15.75 8C15.75 3.71875 12.2812 0.25 8 0.25ZM11.7812 10.0625C11.9375 10.1875 11.9375 10.4375 11.7812 10.5938L10.5625 11.8125C10.4062 11.9688 10.1562 11.9688 10.0312 11.8125L8 9.75L5.9375 11.8125C5.8125 11.9688 5.5625 11.9688 5.40625 11.8125L4.1875 10.5625C4.03125 10.4375 4.03125 10.1875 4.1875 10.0312L6.25 8L4.1875 5.96875C4.03125 5.84375 4.03125 5.59375 4.1875 5.4375L5.4375 4.21875C5.5625 4.0625 5.8125 4.0625 5.96875 4.21875L8 6.25L10.0312 4.21875C10.1562 4.0625 10.4062 4.0625 10.5625 4.21875L11.7812 5.4375C11.9375 5.59375 11.9375 5.84375 11.7812 5.96875L9.75 8L11.7812 10.0625Z' fill='%2352B4F3'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      svg{
        opacity: 0;
      }
    }
    &__marginLeft{
      &.uk-visible\@m{
        margin-right: 20px;
        &:last-child{
          margin-right: 0;
        }
      }
    }
    &__box2{
      display: inline-block;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center;
      &--menu{
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 3.125H13.5C13.75 3.125 14 2.90625 14 2.625V1.375C14 1.125 13.75 0.875 13.5 0.875H0.5C0.21875 0.875 0 1.125 0 1.375V2.625C0 2.90625 0.21875 3.125 0.5 3.125ZM0.5 8.125H13.5C13.75 8.125 14 7.90625 14 7.625V6.375C14 6.125 13.75 5.875 13.5 5.875H0.5C0.21875 5.875 0 6.125 0 6.375V7.625C0 7.90625 0.21875 8.125 0.5 8.125ZM0.5 13.125H13.5C13.75 13.125 14 12.9062 14 12.625V11.375C14 11.125 13.75 10.875 13.5 10.875H0.5C0.21875 10.875 0 11.125 0 11.375V12.625C0 12.9062 0.21875 13.125 0.5 13.125Z' fill='%234D9D6E'/%3E%3C/svg%3E%0A");
      }
      &--wishList{
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.4375 1.96875C13.7188 0.5 11.1875 0.78125 9.59375 2.40625L9 3.03125L8.375 2.40625C6.8125 0.78125 4.25 0.5 2.53125 1.96875C0.5625 3.65625 0.46875 6.65625 2.21875 8.46875L8.28125 14.7188C8.65625 15.125 9.3125 15.125 9.6875 14.7188L15.75 8.46875C17.5 6.65625 17.4062 3.65625 15.4375 1.96875Z' fill='%234D9D6E'/%3E%3C/svg%3E%0A");
      }
      &--cart{
        background-image: url("data:image/svg+xml,%3Csvg width='19' height='16' viewBox='0 0 19 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5 9.4375L17.9688 2.9375C18.0625 2.46875 17.7188 2 17.2188 2H4.96875L4.6875 0.625C4.59375 0.28125 4.28125 0 3.9375 0H0.75C0.3125 0 0 0.34375 0 0.75V1.25C0 1.6875 0.3125 2 0.75 2H2.90625L5.125 12.75C4.59375 13.0625 4.25 13.625 4.25 14.25C4.25 15.2188 5.03125 16 6 16C6.9375 16 7.75 15.2188 7.75 14.25C7.75 13.7812 7.53125 13.3438 7.21875 13H13.75C13.4375 13.3438 13.25 13.7812 13.25 14.25C13.25 15.2188 14.0312 16 15 16C15.9375 16 16.75 15.2188 16.75 14.25C16.75 13.5625 16.3438 12.9688 15.75 12.6875L15.9062 11.9375C16.0312 11.4688 15.6562 11 15.1875 11H6.8125L6.59375 10H15.75C16.0938 10 16.4062 9.78125 16.5 9.4375Z' fill='%234D9D6E'/%3E%3C/svg%3E%0A");
      }
      &--acc{
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 8C9.1875 8 11 6.21875 11 4C11 1.8125 9.1875 0 7 0C4.78125 0 3 1.8125 3 4C3 6.21875 4.78125 8 7 8ZM9.78125 9H9.25C8.5625 9.34375 7.8125 9.5 7 9.5C6.1875 9.5 5.40625 9.34375 4.71875 9H4.1875C1.875 9 0 10.9062 0 13.2188V14.5C0 15.3438 0.65625 16 1.5 16H12.5C13.3125 16 14 15.3438 14 14.5V13.2188C14 10.9062 12.0938 9 9.78125 9Z' fill='%234D9D6E'/%3E%3C/svg%3E%0A");
      }
    }
    &__box1{
      padding-left: 40px;
      background-repeat: no-repeat;
      background-position: center left;
      &--wishList{
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='23' viewBox='0 0 26 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.6562 2.95312C20.0781 0.75 16.2812 1.17188 13.8906 3.60938L13 4.54688L12.0625 3.60938C9.71875 1.17188 5.875 0.75 3.29688 2.95312C0.34375 5.48438 0.203125 9.98438 2.82812 12.7031L11.9219 22.0781C12.4844 22.6875 13.4688 22.6875 14.0312 22.0781L23.125 12.7031C25.75 9.98438 25.6094 5.48438 22.6562 2.95312Z' fill='%234D9D6E'/%3E%3C/svg%3E%0A");
      }
      &--cart{
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='24' viewBox='0 0 28 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.75 14.1562L26.9531 4.40625C27.0938 3.70312 26.5781 3 25.8281 3H7.45312L7.03125 0.9375C6.89062 0.421875 6.42188 0 5.90625 0H1.125C0.46875 0 0 0.515625 0 1.125V1.875C0 2.53125 0.46875 3 1.125 3H4.35938L7.6875 19.125C6.89062 19.5938 6.375 20.4375 6.375 21.375C6.375 22.8281 7.54688 24 9 24C10.4062 24 11.625 22.8281 11.625 21.375C11.625 20.6719 11.2969 20.0156 10.8281 19.5H20.625C20.1562 20.0156 19.875 20.6719 19.875 21.375C19.875 22.8281 21.0469 24 22.5 24C23.9062 24 25.125 22.8281 25.125 21.375C25.125 20.3438 24.5156 19.4531 23.625 19.0312L23.8594 17.9062C24.0469 17.2031 23.4844 16.5 22.7812 16.5H10.2188L9.89062 15H23.625C24.1406 15 24.6094 14.6719 24.75 14.1562Z' fill='%234D9D6E'/%3E%3C/svg%3E%0A");
      }
      &--acc{
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='24' viewBox='0 0 21 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 12C13.7812 12 16.5 9.32812 16.5 6C16.5 2.71875 13.7812 0 10.5 0C7.17188 0 4.5 2.71875 4.5 6C4.5 9.32812 7.17188 12 10.5 12ZM14.6719 13.5H13.875C12.8438 14.0156 11.7188 14.25 10.5 14.25C9.28125 14.25 8.10938 14.0156 7.07812 13.5H6.28125C2.8125 13.5 0 16.3594 0 19.8281V21.75C0 23.0156 0.984375 24 2.25 24H18.75C19.9688 24 21 23.0156 21 21.75V19.8281C21 16.3594 18.1406 13.5 14.6719 13.5Z' fill='%234D9D6E'/%3E%3C/svg%3E%0A");
      }
      &__txt1{
        color: #212121;
        @extend .fz-18;
        line-height: (27/18);
        font-family: $font-Mulish-Bold;
      }
      &__txt2{
        @extend .footer__dc1;
        color: #888888;
        font-family: $font-Mulish-Regular !important;
      }
    }
    .uk-logo{
      @include media-breakpoint-down('s'){
        padding-left: 0;
      }
      img{
        @include fluidx(44px,24px,height);
      }
    }
    .uk-navbar-item{
      @extend .header__bottom__navitem;
    }
  }
}